## Testing sports reference api

In [4]:
import sportsreference
import numpy as np
import pandas as pd
from pandas import DataFrame
from sportsreference.nfl.teams import Teams
from sportsreference.nfl.schedule import Schedule
from sportsreference.nfl.boxscore import Boxscore

In [5]:
#dir(sportsreference.nfl)

In [7]:
box_in = np.empty((32,16))
# box_in =[]

i = -1

for team in Teams():
    g = -1
    i += 1
    print(team.name)
    schedule = team.schedule  # Request the current team's schedule
    for game in schedule:
        g += 1
        np.append(box_in,game.boxscore_index)
        test = game.dataframe
        
print(len(box_in))
np.size(box_in)

Kansas City Chiefs
Tampa Bay Buccaneers
Seattle Seahawks
Green Bay Packers
Pittsburgh Steelers
Atlanta Falcons
Tennessee Titans
San Francisco 49ers
Cleveland Browns
New Orleans Saints
Baltimore Ravens
Arizona Cardinals
Indianapolis Colts
Buffalo Bills
Cincinnati Bengals
Los Angeles Rams
Miami Dolphins
Las Vegas Raiders
Philadelphia Eagles
Dallas Cowboys
Minnesota Vikings
Los Angeles Chargers
Carolina Panthers
Detroit Lions
Houston Texans
Chicago Bears
Jacksonville Jaguars
Denver Broncos
New York Giants
New England Patriots
Washington Football Team
New York Jets
32

512

In [ ]:
a = np.zeros((3,2,2))
print(a)

In [ ]:
box_index = []

points_scored = []
points_allow = []
# points_against = np.array

stats_dal = np.zeros((5,16,4))  # (years, games, number of stats)
stats_phi = np.zeros((5,16,4))
y = -1
for year in range(2015,2020):
    sched_dal = Schedule('DAL',year)
    sched_phi = Schedule('PHI',year)
    y += 1
    g1 = 0
    g2 = 0
    for gamed in sched_dal:
        stats_dal[y,g1,1] = gamed.points_scored
        stats_dal[y,g1,2] = gamed.points_allowed
        stats_dal[y,g1,3] = gamed.punts
        stats_dal[y,g1,3] = gamed.interceptions # thrown
        g1 += 1
    for gamep in sched_phi:
        stats_phi[y,g2,1] = gamep.points_scored
        stats_phi[y,g2,2] = gamep.points_allowed
        stats_phi[y,g2,3] = gamep.punts
        stats_phi[y,g2,4] = gamep.interceptions       
        g2 += 1        
#         if (game.opponent_abbr == 'PHI'):  
# #             print(game.date)
# #             print(game.result)
#             points_scored.append(game.points_scored)
#             points_allow.append(game.points_allowed)

            
# print(points_scored)
# print(points_allow)

df = DataFrame(points_scored,columns=['Points Scored'])

df
# print()
# points.reshape(10,2)
# print(points)

In [24]:
# box_index = []

# points_scored = []
# points_allow = []
# points_against = np.array

stats_dal = np.zeros((5,16,4))  # (years, games, number of stats)
stats_phi = np.zeros((5,16,4))

y = -1
year_span = range(2015,2020) #change years here

for year in year_span:
    y += 1
    sched_dal = Schedule('DAL',year)
    sched_phi = Schedule('PHI',year)
    
    g1 = 0
    g2 = 0
    for gamed in sched_dal:
#         if (gamed.opponent_abbr == 'PHI'):
        if (gamed.type == 'Reg'):
            stats_dal[y,g1,0] = gamed.points_scored
    #         print(gamed.points_scored)
            stats_dal[y,g1,1] = gamed.points_allowed
            stats_dal[y,g1,2] = gamed.punts
            stats_dal[y,g1,3] = gamed.interceptions # thrown
            g1 += 1
    for gamep in sched_phi:
        if (gamep.type == 'Reg'):
    #         if (gamep.opponent_abbr == 'DAL'):
            stats_phi[y,g2,0] = gamep.points_scored
    #         print(gamep.points_scored)
            stats_phi[y,g2,1] = gamep.points_allowed
            stats_phi[y,g2,2] = gamep.punts
            stats_phi[y,g2,3] = gamep.interceptions       
            g2 += 1    
i = 0
for ii in year_span:
    

    dfdal = DataFrame(stats_dal[i,:,:], columns=['2015 DAL Pts', 
    'Opp Pts','Punts Away', 'Ints Thrown'])  # Stats from 2015 (year         index at 0)

    dfphi = DataFrame(stats_phi[i,:,:], columns=['2015 Phi Pts', 
    'Opp Pts','Punts Away', 'Ints Thrown'])
    
    i += 1

display(dfdal)
display(dfphi)

    2015 DAL Pts  Opp Pts  Punts Away  Ints Thrown
0           35.0     17.0         4.0          0.0
1           31.0     21.0         2.0          1.0
2           31.0      6.0         3.0          1.0
3           10.0     12.0         4.0          1.0
4           24.0     34.0         3.0          3.0
5           22.0     24.0         3.0          0.0
6           37.0     10.0         3.0          1.0
7           37.0     18.0         2.0          1.0
8           24.0     28.0         2.0          1.0
9           35.0     27.0         3.0          0.0
10           9.0     13.0         5.0          1.0
11          15.0     26.0         2.0          1.0
12          24.0     31.0         5.0          0.0
13          44.0     21.0         2.0          0.0
14           9.0     17.0         6.0          0.0
15          47.0     16.0         2.0          0.0

    2015 Phi Pts  Opp Pts  Punts Away  Ints Thrown
0           32.0     27.0         3.0          0.0
1           20.0     24.0         4.0          2.0
2           24.0     27.0         3.0          0.0
3           34.0     27.0         4.0          0.0
4           31.0      6.0         5.0          0.0
5           20.0     38.0         3.0          2.0
6           10.0     37.0         3.0          1.0
7           31.0     13.0         4.0          0.0
8           22.0     14.0         5.0          0.0
9           10.0     17.0         8.0          0.0
10           9.0     17.0         4.0          2.0
11          31.0     37.0         3.0          1.0
12          23.0     17.0         8.0          0.0
13          37.0     27.0         3.0          0.0
14          17.0      9.0         4.0          0.0
15          34.0     17.0         7.0          0.0

In [ ]:
box_index = []

points_scored = []
points_allowed = []
dal_punt = []
phil_punt = []


for year in range(2015,2020):
    sched = Schedule('DAL',year)
#     print(year) 
    for game in sched:
        if (game.opponent_abbr == 'PHI'):
#             print(game.date)
#             print(game.result)
            points_scored.append(game.points_scored)
            points_allowed.append(game.points_allowed)
            dal_punt.append(game.punts)


for year in range(2015,2020):
    sched = Schedule('PHI',year)
#     print(year) 
    for game in sched:
        if (game.opponent_abbr == 'DAL'):
#             print(game.date)
#             print(game.result)
              phil_punt.append(game.punts)
print(dal_punt)
points_s = np.array(points_scored)
points_a = np.array(points_allowed)
dal_p = np.array(dal_punt)
phil_p = np.array(phil_punt)
points = np.array([(points_s), (points_a)])
passing = np.array([(dal_p), (phil_p)])
points_reshape= np.reshape(points, (10,2))
passing_reshape = np.reshape(passing, (10,2))
df = DataFrame( points_reshape,columns=['Dallas Points', 'Philly Points'])
df1 = DataFrame(passing_reshape, columns=['Dallas PYPA', 'Philly PYPA'])

In [ ]:

for index in box_index:
    box = Boxscore(index)
    pa = box.points_allowed
    points_scored = box.points_scored
    print(pa)
    print(points_scored)
    print()

In [ ]:
print(box_index)

In [ ]:
box = Boxscore('201509200phi')
box.dataframe

In [ ]:
from sportsreference.nfl.schedule import Schedule

houston_schedule = Schedule('HOU')
print(houston_schedule.dataframe)

In [ ]:
[week] = Boxscores(10,2018,10)

In [ ]:
range?